@model IEnumerable<ProductViewModel>
@{
    ViewData["Title"] = "ProductList";
}

<h1>ProductList</h1>
<a class="btn btn-dark" asp-action="Add" asp-controller="Product">Add Product</a>
<table class="table table-hover"> 
    <thead>
        <tr>
            <td>Product Id</td>
            <td>Product Code</td>
            <td>Product Name</td>
            <td>Product Description</td>
            <td>Price</td>
        </tr>
    </thead>
    @foreach (var item in Model)
    { 
        <tr>
            <td>@item.ProductId</td>
             <td>@item.ProductCode</td>
            <td>@item.ProductName</td>
            <td>@item.ProductDescription</td>
            <td>@item.Price</td>
        </tr>
    }
</table>
